<div>
  <span class="iconify heroicons--search size-5"></span>
  <%= render LucideIcon(:house) %>
  <%= _phosphor(:lock) %>
  <%= HeroIcon(:check, variant: :solid) %>
  <%= icon "gauge", from: :lucide %>
  <%= icon("bell", library: "heroicons", variant: "solid") %>
  <%= icon("save", class: cn("a", active?), from: :lucide) %>
  <%= PhosphorIcon(:lock, class: cn("b"), variant: :bold) %>
</div>
